.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 60px;
}

.categoryLink {
    text-decoration: none;
    color: inherit;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #3498db;
    border-radius: 8px; /* Round the corners for a card-like appearance */
    padding: 15px; /* Add padding for spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.category {
    text-align: center;
}

    .category img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

@media (max-width: 768px) {
    .categoryLink {
        flex-basis: calc(50% - 20px);
    }
}
